html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 2% auto;
  width: 65%;
  background: #fff;
  border: 1px solid #000;
  min-height: 400px;
  padding: 20px 40px;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  flex: 1;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.error__desc {
  text-align: center;
  font-size: 1.5em;
}

.error__msg {
  color: #999;
}
h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

label {
  font-weight: bold;
  letter-spacing: 0.7px;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #4caf50;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.errorValid {
  color: red;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--limited-width-container);
  padding: 1rem 1rem;
  color: #333;
}
.navbar {
  padding: 1rem 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.navbar_link {
  color: var(--color-text-main);
  text-transform: uppercase;
}
.navbar_link:hover {
  border-bottom: solid 3px var(--color-text-main);
}

.navbar_link--active {
  border-bottom: solid 3px var(--color-text-main);
}
/*=========================================
displayHome
===========================================*/
.car_list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.car_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 100%;
  margin-bottom: 2rem;
  padding: 0.4rem;
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 0px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 30em) {
  .car_item {
    flex-basis: 48%;
  }
}

@media (min-width: 48em) {
  .car_item {
    flex-basis: 32%;
  }
}

.car_link {
  width: 100%;
  height: 16rem;
}

.car_img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.car_info {
  margin-top: 0.2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.car_name {
  font-size: 1.2rem;
}
